<!DOCTYPE html>
<html>
<head>
  <title>BookMarkerApp</title>
  <meta charset="utf-8">
  <base href="./../" target="_blank"></base>
  <!-- Roboto font embed -->
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto'>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/bootstrap-material-design/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap-material-design/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="assets/app/css/styles.css">
  <link rel="stylesheet" href="assets/app/css/query.css">
  <link rel="stylesheet" href="assets/app/css/cmd_form.css">
  <link rel="stylesheet" href="assets/app/css/modal_form.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
  <body>
    <div class="cmd_jumbotron">
      <div class="cmd_container">
          <h1>Bookmarker
            <a id="add_button" class="btn btn-primary">
              <i class="glyphicon glyphicon-plus"></i>  Add Bookmark
            </a>
          </h1>
          <hr>
      </div>
      <div id="bookmarker"></div>
    </div>
    <div id="bookmarksResults" class="cmd_container">
      <!-- There will appear some bookmarks -->
    </div>
    <script>
      window.$ = window.jQuery = require('jquery')
      require('bootstrap')
      require('mdbootstrap')
      require("./../assets/app/js/main.js")
      require("./../assets/app/js/bookmarker.js")
    </script>
  </body>
</html>
