<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <meta charset="utf-8">
  <base href="./../" target="_blank"></base>
  <!-- Roboto font embed -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/app/css/styles.css">
  <link rel="stylesheet" href="assets/app/css/query.css">
  <link rel="stylesheet" href="assets/app/css/menu.css">
  <link rel="stylesheet" href="assets/app/css/forms.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
  <body>
    <div class="umd_jumb">
      <div class="umd_container">
        <h1>Calendar</h1>
        <hr>
      </div>
    </div>
    <div class="umd_container">
      <center>
        <iframe src="https://calendar.google.com/calendar/embed?src=d24rc1g9eo3g1p7jsar1qavd1g%40group.calendar.google.com&ctz=America/Argentina/Buenos_Aires" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </center>
    </div>
    <script>
      window.$ = window.jQuery = require('jquery')
      require('bootstrap')
      require("./assets/app/js/main.js")
    </script>
  </body>
</html>
